<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

	<title>Employee Directory</title>
</head>

<body>

<div class="container">

	<h3>Çalışan Dizini</h3>
	<hr>

	<!-- Add a button -->
	<a th:href="@{/employees/showFormForAdd}"
		class="btn btn-primary btn-sm mb-3">
		Çalışan Ekle
	</a>

	<table class="table table-bordered table-striped">
		<thead class="table-dark">
			<tr>
				<th>Ad</th>
				<th>Soyad</th>
				<th>Email</th>
				<th>İzin Hakkı</th>
				<th>Aksiyon</th>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="tempEmployee : ${employees}">
			
				<td th:text="${tempEmployee.firstName}" />	
				<td th:text="${tempEmployee.lastName}" />	
				<td th:text="${tempEmployee.email}" />
				<td th:text="${tempEmployee.leavePeriod}" />

				<!-- Add update button/link -->
				<td>
					<a th:href="@{/employees/showFormForUpdate(employeeId=${tempEmployee.id})}"
					   class="btn btn-info btn-sm">
						Güncelle
					</a>

					<!-- Add "delete" button/link -->
					<a th:href="@{/employees/delete(employeeId=${tempEmployee.id})}"
					   class="btn btn-danger btn-sm"
					   onclick="if (!(confirm('Silmek istediğinizden emin misiniz?'))) return false">
						Sil
					</a>
				</td>

			</tr>
		</tbody>		
	</table>

	<hr>
	<!-- Add a logout button -->
	<form action="#" th:action="@{/logout}"
		  method="POST">

		<input type="submit" value="Çıkış Yap" class="btn btn-outline-primary mt-2" />

	</form>

</div>
	
</body>
</html>



